*{
    list-style: none;   
}
body{
    background-color: black;
}
.brandMenu{
    width: 400px;
    height: 660px;
    background-color: #181818;
    margin-left: 15px;
}
.brandMenu li{
    display:  flex;
    margin-top:  15px;
}
.brandMenu span {
    margin: 0 10px;
}
.brandMenu ul{
    color: #fafafa;
}
.nav-link{
    text-decoration: none;
}
.titleBrand{
    background-color: #2c2a2a;
    width: 400px;
    height: 100px;
    color: #fafafa;
    margin-top: 15px;
    text-align: center;
    padding: 30px;
}